@font-face {
  font-family: SSP-Black;
  src: url('./SourceSansPro-Black.ttf');
}
@font-face {
  font-family: SSP-Bold;
  src: url('./SourceSansPro-Bold.ttf');
}
@font-face {
  font-family: SSP-ExtraLight;
  src: url('./SourceSansPro-ExtraLight.ttf');
}
@font-face {
  font-family: SSP-Light;
  src: url('./SourceSansPro-Light.ttf');
}
@font-face {
  font-family: SSP-Regular;
  src: url('./SourceSansPro-Regular.ttf');
}
@font-face {
  font-family: SSP-Regular;
  src: url('./SourceSansPro-SemiBold.ttf');
}
